html{
	font-size:65%;
}

body{
	font-size:$base-font-size;
	font-family:Helvetica,Arial,sans-serif;
}

h1{
	font-weight:300;
	margin-bottom:$space;
}

h2{
	margin-bottom: $space;
	font-size:$large-font-size;

}
a{
	color:black;
}

p {
	margin-bottom: $space;
}

input[type=text],input[type=email],input[type=password]{
	font-size:$base-font-size;
	margin-bottom: $space;
	padding:$input-spacing;
	border:1px solid $input-border;
}